# Storage node config
STORAGE_PORT=5001
NODE_ID=0
DATA_DIR=./data/node0

# Gateway config
GATEWAY_PORT=7000
NODE_COUNT=3
NODE_URLS=http://localhost:5001,http://localhost:5002,http://localhost:5003
REPLICATION_FACTOR=3
WRITE_QUORUM=2
CHUNK_SIZE=262144

# Web config
WEB_PORT=5173
VITE_GATEWAY_URL=http://localhost:7000

